# 这是开源版本

# 易支付API地址, 末尾需要包含/
API = 'https://home.bakbak.cn/'
# 商户ID
ID = 12123
# 商户密钥
KEY = 'DZNEk2dQzKdaD10NCX0RwR'
PAY_TYPE = ['支付宝','微信','QQ钱包']
# 支付成功跳转地址
JUMP_URL = "https://kangle.bakbak.cn/paysuccess.html"
# 支付超时时间(秒)
PAY_TIMEOUT = 300
# BOT API
TOKEN = '129798987814:AAG4kO2l-6wuPwoPMF7imHOJtpYAI'

NAME = 'IQ商城'
# 独角卡数据库连接
DB_HOST = '127.0.0.1'
DB_PORT = 3306
DB_DATABASE = ''
DB_USERNAME = ''
DB_PASSWORD = ''


# ADMIN ID
ADMIN_ID = [676625294]

# 管理员命令
ADMIN_COMMAND_START = 'iadmin'
ADMIN_COMMAND_QUIT = 'icancel'