
# 支付超时时间(秒)
PAY_TIMEOUT = 300
# BOT API
TOKEN = '1222117547:AAGWJ43CJ-4aejeoICdQ2t01wWMiIAOgJKc'
# ADMIN ID
ADMIN_ID = [744255323]

# 管理员命令
ADMIN_COMMAND_START = 'iadmin'
ADMIN_COMMAND_QUIT = 'icancel'

# 支持的支付方式
PAYMENT_METHOD = {
    'epay': {'epay':'支付宝/微信/QQ钱包','aliqr':'支付宝','wxqr':'微信','qqqr':'QQ钱包'},
    'mugglepay':{'mugglepay':'数字货币'},
    'stripe':{'alipay':'stripe支付宝','wxpay':'stripe微信'},
    'alifacepay':{'alifacepay': '支付宝当面付'}
}

# 公告信息，支持markdown
NOTICE = '欢迎光临IQ商城,本店24小时营业\n如有问题,请 联系客服 @xuebibot\n\n如出现操作卡住，请 /start 重启会话'

# 独角卡数据库连接
DB_HOST = '127.0.0.1'
DB_PORT = 3306
DB_DATABASE = 'shop'
DB_USERNAME = 'shop'
DB_PASSWORD = 'faka'
